# Used code to collect data

In [5]:
import pandas as pd
import pyodbc
import os
import re
from tkinter import simpledialog

batch_no = simpledialog.askinteger (title= "Batch No", prompt= "Please enter the batch no:")

mdb_folders_path = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\011_Folder_to_collect_batch"
mdb_files_list = os.listdir(mdb_folders_path)
list_files_not_matching = []
pattern = r"H(\d+)-(M|R|m|r)-L(\d)-(\d+)-(\d+)"
main_files_dict = {}
summary_table_list = []
comments_table_list = []
drops_table_list = []
histories_table_list = []
remarks_table_list = []
sessions_table_list = []
stations_table_list = []
timings_table_list = []
transducers_table_list = []
version_table_list = []


for file in mdb_files_list:
    # Check if the file matches the pattern or not:
    try:
        # Extract data from the filename:
        name_text = re.search(pattern, file)
        if not name_text:
            list_files_not_matching.append(file)
            continue
        
        file_name = file
        road_no = name_text.group(1)
        dir_cd = name_text.group(2)
        lane_no = name_text.group(3)
        start_kp = name_text.group(4)
        end_kp = name_text.group(5)
        
        # Location of the access file
        mdb_file = os.path.join(mdb_folders_path, file)
        
        # Create a connection string
        conn_string = (
            r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
            r'DBQ=' + mdb_file + ';'
        )
        
        # The tables
        table_name_list = ['Sessions', 'Comments', 'Drops', 'Histories', 'Remarks', 'Stations', 'Timings', 'Transducers', 'Version']
        df_access_dict = {}
        
        # Create connection
        with pyodbc.connect(conn_string) as connection:
            cursor = connection.cursor()
            try:
                for table in table_name_list:
                    query = f'SELECT * FROM {table}'
                    df = pd.read_sql(query, connection)
                    df_access_dict[table] = df

                # Add the GUID value to all tables 
                guid_value = df_access_dict['Sessions']['GUID'][0]
                table_add_guid = ['Comments', 'Drops', 'Histories', 'Remarks', 'Stations', 'Timings', 'Transducers', 'Version']
                for table2 in table_add_guid:
                    df_access_dict[table2]['GUID'] = guid_value

                # Check the drops and the temperature in the Drops table:
                df = df_access_dict['Drops']
                for index in df.index:
                    if df.loc[index, 'D9'] < 0.5:
                        df.loc[index, 'D7'] = 0.8 * df.loc[index, 'D6']
                        df.loc[index, 'D8'] = 0.7 * df.loc[index, 'D7']
                        df.loc[index, 'D9'] = 0.6 * df.loc[index, 'D8']

                avg_asphalt = df[df['Asphalt'] > 0]['Asphalt'].mean()
                avg_surface = df[df['Asphalt'] > 0]['Surface'].mean()
                perct = avg_asphalt / avg_surface
                for index in df.index:
                    if df.loc[index, 'Asphalt'] < 0:
                        df.loc[index, 'Asphalt'] = perct * df.loc[index, 'Surface']
                df_access_dict['Drops'] = df

            finally:
                cursor.close()

        # Make a summary table for the data
        df_summary_table = pd.DataFrame(columns=["file_name", "road_no", "dir_cd", "lane_no", "start_kp", "end_kp", "batch_no", "guid"])
        new_row_values = {
            "file_name": file_name,
            "road_no": road_no,
            "dir_cd": dir_cd,
            "lane_no": lane_no,
            "start_kp": start_kp,
            "end_kp": end_kp,
            "batch_no": batch_no,
            "guid": guid_value
        }
        df_summary_table.loc[0] = new_row_values
        
        # Update the main dictionary that contains the data of all files of the batch 
        sub = {
            file: {
                "road_no": road_no,
                "dir_cd": dir_cd,
                "lane_no": lane_no,
                "start_kp": start_kp,
                "end_kp": end_kp,
                "batch_no": batch_no,
                "GUID": guid_value,
                "summary_table": df_summary_table,
                "df_access_dict": df_access_dict
            }
        }
        
        
        main_files_dict.update(sub)
        
        # ['Sessions', 'Comments', 'Drops', 'Histories', 'Remarks', 'Stations', 'Timings', 'Transducers', 'Version']
        summary_table_list.append (df_summary_table)
        comments_table_list.append (df_access_dict['Comments'])
        drops_table_list.append (df_access_dict['Drops'])
        # histories_table_list.append (df_access_dict['Histories'])
        remarks_table_list.append (df_access_dict['Remarks'])
        sessions_table_list.append (df_access_dict['Sessions'])
        stations_table_list.append (df_access_dict['Stations'])
        timings_table_list.append (df_access_dict['Timings'])
        transducers_table_list.append (df_access_dict['Transducers'])
        version_table_list.append (df_access_dict['Version'])

    except Exception as e:
        print(f"Error processing file {file}: {e}")
        list_files_not_matching.append(file)

# Print summary of unmatched files
print(f"Files not matching pattern: {list_files_not_matching}")

df_summary = pd.concat(summary_table_list, axis = 0)
df_comments = pd.concat(comments_table_list, axis = 0)
df_drops = pd.concat(drops_table_list, axis = 0)
# df_histories = pd.concat(histories_table_list, axis = 0)
df_remarks = pd.concat(remarks_table_list, axis = 0)
df_sessions = pd.concat(sessions_table_list, axis = 0)
df_stations = pd.concat(stations_table_list, axis = 0)
df_timings = pd.concat(timings_table_list, axis = 0)
df_transducers = pd.concat(transducers_table_list, axis = 0)
df_version = pd.concat(version_table_list, axis = 0)

C:\Users\Khaled Ahmed\AppData\Local\Temp\ipykernel_12020\3893769425.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\Khaled Ahmed\AppData\Local\Temp\ipykernel_12020\3893769425.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

Files not matching pattern: []

C:\Users\Khaled Ahmed\AppData\Local\Temp\ipykernel_12020\3893769425.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\Khaled Ahmed\AppData\Local\Temp\ipykernel_12020\3893769425.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

# Used code to upload data to database

In [7]:
#To upload the data to the database 
from sqlalchemy import create_engine
user = 'postgres'
password = 'mjesbb51187'
database = 'elmod_db'
host = 'localhost'
port = '5432'

engine = create_engine (f'postgresql://{user}:{password}@{host}:{port}/{database}')
data_for_postgres = {"summary_table":df_summary,
                     "comments": df_comments,
                     "drops":df_drops,
                     # "histories":df_histories,
                     "remarks":df_remarks,
                     "sessions":df_sessions,
                     "stations":df_stations,
                     "timings": df_timings,
                     "transducers":df_transducers,
                     "version":df_version}

with engine.connect() as connection:
    for table_name,df_total in data_for_postgres.items():
        df_total.to_sql (table_name, connection , if_exists = 'append', index = False)

# BELOW HERE IS DRAFT

# Old code: check the problems

In [ ]:
# import pandas as pd
# import pyodbc
# from sqlalchemy import create_engine
# import os, re

# batch_no = 16
# mdb_folders_path = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\009_data_for_ASH_program\trial_batch_2"
# mdb_files_list = os.listdir(mdb_folders_path)
# list_files_not_matching = []
# pattern = r"H(\d+)-(M|R|m|r)-L(\d)-(\d+)-(\d+)"
# main_files_dict = {}

# for file in mdb_files_list:
#     #check file mathcing the pattern or not:
#     try:
#         #Extract data from the filename:
#         name_text = re.search (pattern, file)
#         file_name = file
#         road_no = name_text.group(1)
#         dir_cd = name_text.group(2)
#         lane_no = name_text.group(3)
#         start_kp = name_text.group(4)
#         end_kp = name_text.group(5)
        
#         #location of the access file
#         mdb_file = os.path.join (mdb_folders_path, file)
        
        
#         #Create a connection string
#         conn_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'r'DBQ='+mdb_file+';'
        
#         #The tables 
#         table_name_list = ['Sessions', 'Comments', 'Drops', 'Histories', 'Remarks', 'Stations', 'Timings', 'Transducers', 'Version']
#         df_access_dict = {}
        
#         #Create connection
#         with pyodbc.connect (conn_string) as connection:
#             for table in table_name_list:
#                 query = f'SELECT * FROM {table}'
#                 df = pd.read_sql (query, connection)
#                 data_df = {table:df}
#                 df_access_dict.update (data_df)

#             #Add the GUID value to all tables 

#             #1. Get the GUID value from the Sessions table
#             guid_value = df_access_dict['Sessions']['GUID'][0]
            

#             #2. Add the value to the other tables (except the Sessions!)
#             table_add_guid = ['Comments', 'Drops', 'Histories', 'Remarks', 'Stations', 'Timings', 'Transducers', 'Version']
#             for table2 in table_add_guid:
#                 df_access_dict[table2]['GUID']= guid_value
#                 df = df_access_dict[table2]
#                 data_df = {table2:df}
#                 df_access_dict.update (data_df)

#             #Check the drops and the temperature in the drops table:
#             df = df_access_dict['Drops']

#             #Check the drops 
#             for index in df.index:
#                 if df.loc[index, 'D9'] < 0.5:
#                     df.loc[index, 'D7'] = 0.8 * df.loc[index, 'D6']
#                     df.loc[index, 'D8'] = 0.7 * df.loc[index, 'D7']
#                     df.loc[index, 'D9'] = 0.6 * df.loc[index, 'D8']


#             #Check the temperature
#             avg_asphalt = df_access_dict['Drops'][df['Asphalt']>0]['Asphalt'].mean()
#             avg_surface = df_access_dict['Drops'][df['Asphalt']>0]['Surface'].mean()
#             perct = avg_asphalt/avg_surface
#             for index in df.index:
#                 if df.loc[index, 'Asphalt'] < 0:
#                     df.loc[index, 'Asphalt'] = perct* df.loc[index, 'Surface']

#             df_access_dict.update ({'Drops':df})

#         #Make a summary table for the data
#         df_summary_table = pd.DataFrame (columns = ["file_name", "road_no", "dir_cd","lane_no", "start_kp", "end_kp", "batch_no",
#                                                    "guid"])
#         new_row_values = {
#                 "file_name": file_name,
#                 "road_no": road_no,
#                 "dir_cd": dir_cd,
#                 "lane_no": lane_no,
#                 "start_kp": start_kp,
#                 "end_kp": end_kp,
#                 "batch_no": batch_no,
#                 "guid": guid_value
#             }
        
#         df_summary_table.loc[0]= new_row_values
        
        
        
#         #Update the main dictionnary that contains the data of all files of the batch 
#         sub = {file:{
#                     "road_no":road_no,
#                     "dir_cd": dir_cd,
#                     "lane_no": lane_no,
#                     "start_kp": start_kp,
#                     "end_kp": end_kp,
#                     "batch_no":batch_no,
#                     "GUID": guid_value,
#                     "summary_table":df_summary_table,
#                     "df_access_dict": df_access_dict
#         }
#               }
#         main_files_dict.update(sub)
        
        
#     except:
#         list_files_not_matching.append(file)

# To close the connection of a file

In [11]:
mdb_file = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\009_data_for_ASH_program\trial_batch\H70-M-L3-435-458.mdb"
conn_string = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'r'DBQ='+mdb_file+';'
connection = pyodbc.connect (conn_string)

connection.close()

# To be checked for chuck data upload

In [ ]:
################## To be checkeed   for mmore efficient data upload to the database
################################################
import psycopg2
from psycopg2.extras import execute_values

# Convert DataFrame to list of tuples
def df_to_tuples(df):
    return [tuple(x) for x in df.to_numpy()]

# Bulk insert using psycopg2
def bulk_insert(table_name, df, conn):
    tuples = df_to_tuples(df)
    columns = ','.join(df.columns)
    values = ','.join(['%s' for _ in df.columns])
    insert_query = f'INSERT INTO {table_name} ({columns}) VALUES {values}'
    with conn.cursor() as cursor:
        execute_values(cursor, insert_query, tuples)
        conn.commit()

# Create a connection using psycopg2
conn = psycopg2.connect(user=user, password=password, database=database, host=host, port=port)

# Bulk insert each DataFrame
for table_name, df_total in data_for_postgres.items():
    bulk_insert(table_name, df_total, conn)

# Close the connection
conn.close()

# Upload data to the EMPTY ACCESS FILE

In [3]:
#import required libraries
import pandas as pd
import sqlalchemy, pyodbc

#Connect to the postgres database to retreive the table
user = 'postgres'
password = 'mjesbb51187'
database = 'elmod_db'
host = 'localhost'
port = '5432'

In [5]:
engine = sqlalchemy.create_engine (f'postgresql://{user}:{password}@{host}:{port}/{database}')

In [6]:
with engine.connect() as connection:
    query = r'SELECT * FROM drops'
    df = pd.read_sql(query, connection)

In [7]:
df

,StationID,DropID,History,DateTime,Asphalt,Surface,Air,Stress,Force,D1,...,D7,D8,D9,D10,D11,D12,D13,D14,D15,GUID
0,1,1,True,2023-01-19 11:36:30,26.480635,28.500000,22.299999,571.0,40.380001,126.400002,...,13.6,10.2,2.3,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
1,1,2,True,2023-01-19 11:36:32,26.480635,28.500000,22.299999,716.0,50.630001,160.600006,...,17.6,13.0,2.3,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
2,2,3,True,2023-01-19 11:38:11,26.299999,27.600000,22.000000,569.0,40.240002,67.099998,...,7.7,6.8,5.5,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
3,2,4,True,2023-01-19 11:38:12,26.299999,27.600000,22.000000,717.0,50.669998,83.400002,...,10.0,8.2,6.3,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
4,3,5,True,2023-01-19 11:39:23,26.299999,27.500000,21.799999,571.0,40.330002,90.800003,...,9.9,7.1,5.2,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,30,60,True,2023-01-19 12:20:14,26.500000,28.600000,21.400000,716.0,50.580002,91.099998,...,10.7,8.1,3.6,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
60,31,61,True,2023-01-19 12:21:34,26.500000,28.299999,21.500000,567.0,40.099998,112.900002,...,16.1,9.9,6.6,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
61,31,62,True,2023-01-19 12:21:36,26.500000,28.299999,21.500000,717.0,50.650002,141.300003,...,22.0,12.7,9.0,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
62,32,63,True,2023-01-19 12:22:49,26.500000,27.799999,21.200001,568.0,40.169998,125.300003,...,9.8,5.7,3.6,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855
63,32,64,True,2023-01-19 12:22:50,26.500000,27.799999,21.200001,716.0,50.580002,162.600006,...,12.6,7.8,4.5,0.0,0.0,0.0,0.0,0.0,0.0,B447906BDC044069AF7676297E354855

In [11]:
#Connect to the Microsoft Access Database
mdb_file_path = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\Empty_Data_Base.mdb"

conn_str = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'r'DBQ='+mdb_file_path+';'

In [20]:
# Connect to the Access database
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Define the Access table name
access_table_name = 'Drops'

# Create insert query template with column names enclosed in square brackets
columns = ", ".join([f"[{col}]" for col in df.columns])
placeholders = ", ".join(["?" for _ in df.columns])
insert_query = f"INSERT INTO {access_table_name} ({columns}) VALUES ({placeholders})"

# Print insert query for debugging
print("Insert Query:", insert_query)

# Insert DataFrame into Access table
for index, row in df.iterrows():
    print("Row:", tuple(row))  # Print the row for debugging
    cursor.execute(insert_query, tuple(row))

# Commit the transaction
conn.commit()

# Close the connection
cursor.close()
conn.close()

Insert Query: INSERT INTO Drops ([StationID], [DropID], [History], [DateTime], [Asphalt], [Surface], [Air], [Stress], [Force], [D1], [D2], [D3], [D4], [D5], [D6], [D7], [D8], [D9], [D10], [D11], [D12], [D13], [D14], [D15]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, 1, True, Timestamp('2023-01-19 11:36:30'), 26.480635302301692, 28.5, 22.299999237060547, 571.0, 40.380001068115234, 126.4000015258789, 97.0999984741211, 76.0, 52.70000076293945, 36.599998474121094, 20.200000762939453, 13.600000381469727, 10.199999809265137, 2.299999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (1, 2, True, Timestamp('2023-01-19 11:36:32'), 26.480635302301692, 28.5, 22.299999237060547, 716.0, 50.630001068115234, 160.60000610351562, 122.80000305175781, 97.80000305175781, 68.5, 47.20000076293945, 26.200000762939453, 17.600000381469727, 13.0, 2.299999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 3, True, Timestamp('2023-01-19 11:38:11'), 26.299999237060547, 27.600000381469727, 22.0, 569.0, 40.2400016784668, 67.0999984741211, 47.20000076293945, 34.599998474121094, 22.399999618530273, 16.200000762939453, 9.699999809265137, 7.699999809265137, 6.800000190734863, 5.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 4, True, Timestamp('2023-01-19 11:38:12'), 26.299999237060547, 27.600000381469727, 22.0, 717.0, 50.66999816894531, 83.4000015258789, 58.400001525878906, 43.79999923706055, 28.700000762939453, 19.600000381469727, 12.100000381469727, 10.0, 8.199999809265137, 6.300000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (3, 5, True, Timestamp('2023-01-19 11:39:23'), 26.299999237060547, 27.5, 21.799999237060547, 571.0, 40.33000183105469, 90.80000305175781, 67.5, 53.5, 36.20000076293945, 25.299999237060547, 14.5, 9.899999618530273, 7.099999904632568, 5.199999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (3, 6, True, Timestamp('2023-01-19 11:39:24'), 26.299999237060547, 27.600000381469727, 21.799999237060547, 720.0, 50.90999984741211, 110.30000305175781, 86.19999694824219, 68.30000305175781, 46.900001525878906, 33.29999923706055, 18.899999618530273, 13.0, 9.399999618530273, 6.699999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (4, 7, True, Timestamp('2023-01-19 11:40:43'), 26.299999237060547, 27.5, 21.700000762939453, 570.0, 40.279998779296875, 122.80000305175781, 92.30000305175781, 72.5, 48.20000076293945, 31.799999237060547, 13.600000381469727, 7.400000095367432, 4.599999904632568, 2.4000000953674316, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (4, 8, True, Timestamp('2023-01-19 11:40:44'), 26.299999237060547, 27.5, 21.700000762939453, 718.0, 50.75, 150.1999969482422, 118.80000305175781, 94.0, 63.599998474121094, 42.29999923706055, 18.299999237060547, 9.699999809265137, 6.199999809265137, 2.799999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (5, 9, True, Timestamp('2023-01-19 11:42:40'), 24.0, 27.0, 21.700000762939453, 570.0, 40.310001373291016, 160.8000030517578, 88.19999694824219, 53.900001525878906, 28.5, 16.799999237060547, 9.800000190734863, 5.699999809265137, 4.800000190734863, 4.300000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (5, 10, True, Timestamp('2023-01-19 11:42:41'), 24.0, 27.0, 21.700000762939453, 721.0, 50.93000030517578, 204.10000610351562, 112.30000305175781, 69.0, 37.099998474121094, 21.700000762939453, 11.600000381469727, 8.0, 5.400000095367432, 5.300000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (6, 11, True, Timestamp('2023-01-19 11:43:51'), 24.0, 27.899999618530273, 21.600000381469727, 569.0, 40.220001220703125, 412.29998779296875, 180.8000030517578, 100.4000015258789, 32.79999923706055, 26.100000381469727, 19.399999618530273, 15.51999969482422, 10.863999786376953, 6.518399871826172, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (6, 12, True, Timestamp('2023-01-19 11:43:52'), 24.0, 27.899999618530273, 21.600000381469727, 721.0, 50.959999084472656, 487.29998779296875, 230.10000610351562, 128.8000030517578, 42.099998474121094, 33.70000076293945, 25.200000762939453, 20.160000610351563, 14.112000427246093, 8.467200256347656, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (7, 13, True, Timestamp('2023-01-19 11:45:26'), 24.0, 26.799999237060547, 21.600000381469727, 570.0, 40.2599983215332, 107.0999984741211, 75.69999694824219, 59.400001525878906, 41.599998474121094, 30.600000381469727, 19.600000381469727, 14.699999809265137, 11.399999618530273, 8.100000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (7, 14, True, Timestamp('2023-01-19 11:45:27'), 24.0, 26.799999237060547, 21.600000381469727, 720.0, 50.88999938964844, 132.0, 96.0999984741211, 75.4000015258789, 54.29999923706055, 40.70000076293945, 24.899999618530273, 18.0, 13.699999809265137, 10.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (8, 15, True, Timestamp('2023-01-19 11:46:55'), 24.0, 26.200000762939453, 21.600000381469727, 568.0, 40.150001525878906, 267.5, 184.10000610351562, 129.0, 74.80000305175781, 44.29999923706055, 18.100000381469727, 11.399999618530273, 9.0, 2.0999999046325684, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (8, 16, True, Timestamp('2023-01-19 11:46:56'), 24.0, 26.200000762939453, 21.600000381469727, 720.0, 50.880001068115234, 327.6000061035156, 227.3000030517578, 161.8000030517578, 97.19999694824219, 59.20000076293945, 24.600000381469727, 15.100000381469727, 13.5, 2.799999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (9, 17, True, Timestamp('2023-01-19 11:48:36'), 24.0, 25.5, 21.399999618530273, 566.0, 40.029998779296875, 199.5, 141.39999389648438, 99.80000305175781, 64.4000015258789, 46.20000076293945, 28.5, 22.8, 15.959999999999999, 9.575999999999999, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (9, 18, True, Timestamp('2023-01-19 11:48:37'), 24.0, 25.5, 21.399999618530273, 716.0, 50.630001068115234, 256.20001220703125, 181.89999389648438, 130.10000610351562, 85.4000015258789, 62.099998474121094, 37.79999923706055, 30.23999938964844, 21.167999572753907, 12.700799743652343, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (10, 19, True, Timestamp('2023-01-19 11:50:07'), 24.0, 26.100000381469727, 21.5, 569.0, 40.18000030517578, 495.6000061035156, 302.70001220703125, 172.8000030517578, 96.30000305175781, 59.79999923706055, 24.200000762939453, 12.300000190734863, 7.599999904632568, 6.900000095367432, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (10, 20, True, Timestamp('2023-01-19 11:50:09'), 24.0, 26.100000381469727, 21.5, 727.0, 51.38999938964844, 600.2000122070312, 375.29998779296875, 222.10000610351562, 125.9000015258789, 78.9000015258789, 32.0, 16.700000762939453, 11.0, 9.199999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (11, 21, True, Timestamp('2023-01-19 11:51:46'), 24.0, 24.799999237060547, 21.5, 567.0, 40.08000183105469, 209.39999389648438, 138.6999969482422, 96.0, 62.70000076293945, 47.0, 29.899999618530273, 19.799999237060547, 13.800000190734863, 10.600000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (11, 22, True, Timestamp('2023-01-19 11:51:47'), 24.0, 24.799999237060547, 21.5, 716.0, 50.58000183105469, 267.1000061035156, 178.1999969482422, 125.19999694824219, 81.5999984741211, 61.5, 39.099998474121094, 24.899999618530273, 17.399999618530273, 14.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (12, 23, True, Timestamp('2023-01-19 11:53:24'), 24.0, 24.100000381469727, 21.5, 569.0, 40.18000030517578, 128.10000610351562, 86.19999694824219, 60.79999923706055, 38.5, 29.200000762939453, 21.200000762939453, 17.399999618530273, 14.0, 2.200000047683716, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (12, 24, True, Timestamp('2023-01-19 11:53:25'), 24.0, 24.100000381469727, 21.5, 716.0, 50.630001068115234, 162.60000610351562, 108.9000015258789, 77.0, 49.400001525878906, 37.900001525878906, 27.799999237060547, 22.899999618530273, 18.5, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (13, 25, True, Timestamp('2023-01-19 11:54:44'), 24.0, 25.600000381469727, 21.5, 566.0, 39.9900016784668, 144.6999969482422, 139.8000030517578, 121.19999694824219, 98.0999984741211, 80.30000305175781, 51.79999923706055, 33.400001525878906, 21.5, 8.199999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (13, 26, True, Timestamp('2023-01-19 11:54:45'), 24.0, 25.600000381469727, 21.5, 720.0, 50.86000061035156, 189.5, 186.60000610351562, 162.89999389648438, 132.8000030517578, 108.9000015258789, 71.0, 45.900001525878906, 29.299999237060547, 11.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (14, 27, True, Timestamp('2023-01-19 11:56:27'), 24.0, 26.0, 21.600000381469727, 570.0, 40.2599983215332, 97.4000015258789, 92.30000305175781, 84.5, 73.30000305175781, 63.0, 48.099998474121094, 36.400001525878906, 27.600000381469727, 17.200000762939453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (14, 28, True, Timestamp('2023-01-19 11:56:28'), 24.0, 26.0, 21.600000381469727, 712.0, 50.290000915527344, 126.0999984741211, 117.80000305175781, 108.4000015258789, 94.5, 81.5999984741211, 60.70000076293945, 46.599998474121094, 35.29999923706055, 19.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (15, 29, True, Timestamp('2023-01-19 11:58:00'), 24.0, 24.600000381469727, 21.600000381469727, 559.0, 39.47999954223633, 97.9000015258789, 98.4000015258789, 91.30000305175781, 75.80000305175781, 67.5999984741211, 44.099998474121094, 35.279998779296875, 24.695999145507812, 14.817599487304687, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (15, 30, True, Timestamp('2023-01-19 11:58:05'), 24.0, 24.600000381469727, 21.600000381469727, 700.0, 49.470001220703125, 132.6999969482422, 130.0, 118.69999694824219, 100.4000015258789, 87.0, 58.70000076293945, 42.099998474121094, 28.399999618530273, 0.699999988079071, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (16, 31, True, Timestamp('2023-01-19 11:59:43'), 24.0, 27.899999618530273, 21.600000381469727, 566.0, 40.029998779296875, 300.29998779296875, 250.3000030517578, 212.39999389648438, 162.60000610351562, 124.19999694824219, 73.80000305175781, 47.0, 32.5, 21.299999237060547, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (16, 32, True, Timestamp('2023-01-19 11:59:44'), 24.0, 27.899999618530273, 21.600000381469727, 715.0, 50.560001373291016, 384.8999938964844, 322.8999938964844, 273.29998779296875, 212.10000610351562, 163.1999969482422, 98.0, 62.5, 42.900001525878906, 28.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (17, 33, True, Timestamp('2023-01-19 12:01:02'), 24.0, 27.0, 21.600000381469727, 569.0, 40.209999084472656, 103.80000305175781, 89.0999984741211, 78.5, 63.5, 52.29999923706055, 33.099998474121094, 21.799999237060547, 14.800000190734863, 9.100000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (17, 34, True, Timestamp('2023-01-19 12:01:04'), 24.0, 27.0, 21.600000381469727, 717.0, 50.70000076293945, 135.39999389648438, 114.9000015258789, 101.69999694824219, 85.5999984741211, 67.69999694824219, 43.5, 29.299999237060547, 20.100000381469727, 12.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (18, 35, True, Timestamp('2023-01-19 12:02:52'), 24.0, 28.799999237060547, 21.700000762939453, 569.0, 40.209999084472656, 161.39999389648438, 149.1999969482422, 126.5, 94.5, 69.9000015258789, 37.900001525878906, 21.399999618530273, 12.600000381469727, 7.800000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (18, 36, True, Timestamp('2023-01-19 12:02:53'), 24.0, 28.799999237060547, 21.700000762939453, 716.0, 50.599998474121094, 211.89999389648438, 195.89999389648438, 166.6999969482422, 126.0999984741211, 93.69999694824219, 51.099998474121094, 28.899999618530273, 17.0, 10.300000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (19, 37, True, Timestamp('2023-01-19 12:04:48'), 24.0, 27.5, 22.0, 566.0, 40.029998779296875, 112.5999984741211, 101.4000015258789, 83.69999694824219, 60.5, 43.20000076293945, 22.100000381469727, 12.100000381469727, 8.300000190734863, 5.599999904632568, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (19, 38, True, Timestamp('2023-01-19 12:04:49'), 24.0, 27.5, 22.0, 716.0, 50.599998474121094, 147.89999389648438, 134.60000610351562, 112.69999694824219, 82.30000305175781, 58.0, 28.299999237060547, 15.899999618530273, 8.899999618530273, 5.800000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (20, 39, True, Timestamp('2023-01-19 12:06:11'), 24.0, 28.399999618530273, 21.799999237060547, 568.0, 40.150001525878906, 71.0999984741211, 56.599998474121094, 46.5, 34.29999923706055, 24.899999618530273, 11.5, 5.300000190734863, 1.600000023841858, 0.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (20, 40, True, Timestamp('2023-01-19 12:06:12'), 24.0, 28.399999618530273, 21.799999237060547, 717.0, 50.650001525878906, 92.0999984741211, 72.80000305175781, 60.70000076293945, 45.70000076293945, 33.0, 15.399999618530273, 12.319999694824219, 8.623999786376952, 5.1743998718261714, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (21, 41, True, Timestamp('2023-01-19 12:07:46'), 26.5, 28.700000762939453, 21.700000762939453, 568.0, 40.16999816894531, 104.4000015258789, 93.30000305175781, 80.5999984741211, 66.5, 54.099998474121094, 37.099998474121094, 26.200000762939453, 18.399999618530273, 7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (21, 42, True, Timestamp('2023-01-19 12:07:47'), 26.5, 28.700000762939453, 21.700000762939453, 716.0, 50.58000183105469, 134.39999389648438, 120.80000305175781, 104.5999984741211, 86.4000015258789, 70.69999694824219, 48.599998474121094, 34.400001525878906, 24.0, 9.100000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (22, 43, True, Timestamp('2023-01-19 12:08:59'), 26.5, 27.399999618530273, 21.600000381469727, 569.0, 40.220001220703125, 97.30000305175781, 77.5, 60.900001525878906, 41.70000076293945, 30.200000762939453, 15.899999618530273, 9.100000381469727, 5.300000190734863, 4.199999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (22, 44, True, Timestamp('2023-01-19 12:09:00'), 26.5, 27.399999618530273, 21.600000381469727, 716.0, 50.630001068115234, 126.80000305175781, 98.69999694824219, 80.19999694824219, 58.599998474121094, 40.099998474121094, 18.799999237060547, 9.300000190734863, 6.300000190734863, 1.100000023841858, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (23, 45, True, Timestamp('2023-01-19 12:10:22'), 26.5, 27.5, 21.600000381469727, 567.0, 40.040000915527344, 148.60000610351562, 112.5, 92.0, 62.29999923706055, 43.79999923706055, 23.100000381469727, 14.100000381469727, 9.699999809265137, 3.799999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (23, 46, True, Timestamp('2023-01-19 12:10:23'), 26.5, 27.5, 21.600000381469727, 715.0, 50.540000915527344, 188.89999389648438, 149.39999389648438, 121.19999694824219, 83.30000305175781, 58.70000076293945, 30.799999237060547, 18.5, 13.5, 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (24, 47, True, Timestamp('2023-01-19 12:12:06'), 26.5, 28.0, 21.5, 567.0, 40.08000183105469, 96.5, 76.69999694824219, 60.599998474121094, 42.400001525878906, 30.200000762939453, 17.600000381469727, 10.5, 8.199999809265137, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (24, 48, True, Timestamp('2023-01-19 12:12:07'), 26.5, 28.0, 21.5, 714.0, 50.459999084472656, 122.9000015258789, 99.30000305175781, 80.30000305175781, 55.599998474121094, 40.29999923706055, 21.700000762939453, 14.699999809265137, 8.300000190734863, 5.599999904632568, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (25, 49, True, Timestamp('2023-01-19 12:13:54'), 26.5, 25.5, 21.399999618530273, 570.0, 40.279998779296875, 69.9000015258789, 55.70000076293945, 42.20000076293945, 26.700000762939453, 15.800000190734863, 4.900000095367432, 3.9200000762939453, 2.7440000534057614, 1.6464000320434569, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (25, 50, True, Timestamp('2023-01-19 12:13:55'), 26.5, 25.5, 21.399999618530273, 718.0, 50.7400016784668, 92.5999984741211, 70.4000015258789, 53.599998474121094, 33.900001525878906, 20.100000381469727, 6.199999809265137, 4.95999984741211, 3.471999893188477, 2.083199935913086, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (26, 51, True, Timestamp('2023-01-19 12:15:09'), 26.5, 26.799999237060547, 21.299999237060547, 568.0, 40.11000061035156, 87.69999694824219, 62.20000076293945, 47.599998474121094, 30.799999237060547, 20.700000762939453, 10.800000190734863, 6.5, 4.400000095367432, 0.699999988079071, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (26, 52, True, Timestamp('2023-01-19 12:15:10'), 26.5, 26.799999237060547, 21.299999237060547, 716.0, 50.61000061035156, 112.80000305175781, 82.0, 62.70000076293945, 40.900001525878906, 26.799999237060547, 14.100000381469727, 8.399999618530273, 5.300000190734863, 0.800000011920929, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (27, 53, True, Timestamp('2023-01-19 12:16:26'), 26.5, 28.700000762939453, 21.200000762939453, 568.0, 40.150001525878906, 59.400001525878906, 49.900001525878906, 40.79999923706055, 27.200000762939453, 19.399999618530273, 6.5, 5.2, 3.6399999999999997, 2.1839999999999997, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (27, 54, True, Timestamp('2023-01-19 12:16:27'), 26.5, 28.700000762939453, 21.200000762939453, 718.0, 50.77000045776367, 79.4000015258789, 66.9000015258789, 53.900001525878906, 37.5, 24.899999618530273, 9.600000381469727, 7.680000305175781, 5.376000213623047, 3.225600128173828, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (28, 55, True, Timestamp('2023-01-19 12:17:33'), 26.5, 28.100000381469727, 21.200000762939453, 570.0, 40.2599983215332, 83.0999984741211, 64.4000015258789, 54.599998474121094, 41.400001525878906, 30.799999237060547, 16.799999237060547, 9.5, 5.0, 2.799999952316284, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (28, 56, True, Timestamp('2023-01-19 12:17:34'), 26.5, 28.100000381469727, 21.200000762939453, 717.0, 50.650001525878906, 107.9000015258789, 85.30000305175781, 72.5999984741211, 55.29999923706055, 41.20000076293945, 22.299999237060547, 12.5, 6.599999904632568, 3.700000047683716, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (29, 57, True, Timestamp('2023-01-19 12:18:56'), 26.5, 28.200000762939453, 21.200000762939453, 569.0, 40.2400016784668, 34.70000076293945, 23.700000762939453, 17.299999237060547, 11.600000381469727, 7.699999809265137, 3.200000047683716, 1.899999976158142, 1.100000023841858, 0.699999988079071, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (29, 58, True, Timestamp('2023-01-19 12:18:57'), 26.5, 28.200000762939453, 21.200000762939453, 715.0, 50.560001373291016, 42.400001525878906, 30.299999237060547, 22.0, 14.300000190734863, 9.300000190734863, 4.0, 1.899999976158142, 1.600000023841858, 1.100000023841858, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (30, 59, True, Timestamp('2023-01-19 12:20:13'), 26.5, 28.600000381469727, 21.399999618530273, 568.0, 40.16999816894531, 70.69999694824219, 53.099998474121094, 44.29999923706055, 33.599998474121094, 25.0, 14.899999618530273, 9.100000381469727, 4.5, 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (30, 60, True, Timestamp('2023-01-19 12:20:14'), 26.5, 28.600000381469727, 21.399999618530273, 716.0, 50.58000183105469, 91.0999984741211, 70.4000015258789, 58.79999923706055, 45.5, 34.0, 17.899999618530273, 10.699999809265137, 8.100000381469727, 3.5999999046325684, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (31, 61, True, Timestamp('2023-01-19 12:21:34'), 26.5, 28.299999237060547, 21.5, 567.0, 40.099998474121094, 112.9000015258789, 94.0, 81.0, 62.900001525878906, 49.0, 27.799999237060547, 16.100000381469727, 9.899999618530273, 6.599999904632568, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (31, 62, True, Timestamp('2023-01-19 12:21:36'), 26.5, 28.299999237060547, 21.5, 717.0, 50.650001525878906, 141.3000030517578, 123.80000305175781, 106.4000015258789, 83.19999694824219, 64.69999694824219, 37.29999923706055, 22.0, 12.699999809265137, 9.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (32, 63, True, Timestamp('2023-01-19 12:22:49'), 26.5, 27.799999237060547, 21.200000762939453, 568.0, 40.16999816894531, 125.30000305175781, 99.69999694824219, 79.5999984741211, 55.5, 37.70000076293945, 17.600000381469727, 9.800000190734863, 5.699999809265137, 3.5999999046325684, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (32, 64, True, Timestamp('2023-01-19 12:22:50'), 26.5, 27.799999237060547, 21.200000762939453, 716.0, 50.58000183105469, 162.60000610351562, 130.1999969482422, 104.80000305175781, 73.5, 50.79999923706055, 23.399999618530273, 12.600000381469727, 7.800000190734863, 4.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)

In [18]:
df.drop(columns = ['GUID'], inplace = True)

In [19]:
df

,StationID,DropID,History,DateTime,Asphalt,Surface,Air,Stress,Force,D1,...,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15
0,1,1,True,2023-01-19 11:36:30,26.480635,28.500000,22.299999,571.0,40.380001,126.400002,...,20.200001,13.6,10.2,2.3,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2,True,2023-01-19 11:36:32,26.480635,28.500000,22.299999,716.0,50.630001,160.600006,...,26.200001,17.6,13.0,2.3,0.0,0.0,0.0,0.0,0.0,0.0
2,2,3,True,2023-01-19 11:38:11,26.299999,27.600000,22.000000,569.0,40.240002,67.099998,...,9.700000,7.7,6.8,5.5,0.0,0.0,0.0,0.0,0.0,0.0
3,2,4,True,2023-01-19 11:38:12,26.299999,27.600000,22.000000,717.0,50.669998,83.400002,...,12.100000,10.0,8.2,6.3,0.0,0.0,0.0,0.0,0.0,0.0
4,3,5,True,2023-01-19 11:39:23,26.299999,27.500000,21.799999,571.0,40.330002,90.800003,...,14.500000,9.9,7.1,5.2,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,30,60,True,2023-01-19 12:20:14,26.500000,28.600000,21.400000,716.0,50.580002,91.099998,...,17.900000,10.7,8.1,3.6,0.0,0.0,0.0,0.0,0.0,0.0
60,31,61,True,2023-01-19 12:21:34,26.500000,28.299999,21.500000,567.0,40.099998,112.900002,...,27.799999,16.1,9.9,6.6,0.0,0.0,0.0,0.0,0.0,0.0
61,31,62,True,2023-01-19 12:21:36,26.500000,28.299999,21.500000,717.0,50.650002,141.300003,...,37.299999,22.0,12.7,9.0,0.0,0.0,0.0,0.0,0.0,0.0
62,32,63,True,2023-01-19 12:22:49,26.500000,27.799999,21.200001,568.0,40.169998,125.300003,...,17.600000,9.8,5.7,3.6,0.0,0.0,0.0,0.0,0.0,0.0
63,32,64,True,2023-01-19 12:22:50,26.500000,27.799999,21.200001,716.0,50.580002,162.600006,...,23.400000,12.6,7.8,4.5,0.0,0.0,0.0,0.0,0.0,0.0