### Import related libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from tkinter import simpledialog
import uuid
import numpy as np
import os
import shutil
import pyodbc

### Get Data from the summary table

#### Connect to the Elmod Database

In [3]:
user = 'postgres'
password = simpledialog.askstring(title = 'Enter your password', prompt= 'What is the database password?')
database = 'elmod_db'
host = 'localhost'
port = '5432'
batch_no = simpledialog.askstring (title = "Enter Batch No", prompt = "What is the batch no you want to work on?")
engine = create_engine (f'postgresql://{user}:{password}@{host}:{port}/{database}')
with engine.connect () as conn:
    df = pd.read_sql (f"""
    select *
    FROM summary_table
    WHERE batch_no ='{batch_no}'
    """, conn)
    
    df_stations = pd.read_sql ("""
    SELECT * FROM stations
    """, conn)
    
    df_drops = pd.read_sql ("""
    SELECT A.* FROM drops AS A
    LEFT OUTER JOIN stations AS B
    ON A."GUID" = B."GUID"
    AND A."StationID" = B."StationID"
    WHERE B."Latitude" IS NOT NULL 
    """, conn)

    df_sessions = pd.read_sql ("""
     SELECT * FROM sessions 
    """, conn)
conn.close ()

# In this step do the following
- Correct the data types of the retrieved data
- Find the min and max kp for each file 
- Calculate and report the number of drops for each file
- If there are suspicious drops check them and correct them in the database (postgres)
- Sort the dataframe ascendingly according to the kp
- Check the number of drops for file and decide if they need manual adjustements

In [5]:
df ['road_no'] = pd.to_numeric (df['road_no'])
df ['lane_no'] = pd.to_numeric (df['lane_no'])
df ['start_kp'] = pd.to_numeric (df['start_kp'])
df ['end_kp'] = pd.to_numeric (df['end_kp'])
df ['batch_no'] = pd.to_numeric (df['batch_no'])
df['min_kp'] = None
df['max_kp'] = None
df['num_drops'] = None
list_suspicious_drops = []
for index in df.index:
    df.at[index, 'min_kp'] = min(df.loc[index, 'start_kp'], df.loc[index, 'end_kp'])
    df.at[index, 'max_kp'] = max(df.loc[index, 'start_kp'], df.loc[index, 'end_kp'])
    # df.at[index, 'num_drops'] = df_drops[df_drops['GUID']== df.loc[index, 'guid']]['DropID'].iloc[-1]/ df_drops [df_drops['GUID']== df.loc[index, 'guid']]['StationID'].iloc[-1]
    df.at[index, 'num_drops'] = df_drops[df_drops['GUID']== df.loc[index, 'guid']]['DropID'].count()/ df_stations [df_stations['GUID']== df.loc[index, 'guid']]['StationID'].count()
    if df.at[index, 'num_drops'] % 1 != 0:
        list_suspicious_drops.append (df.loc [index, 'file_name'])
        
df = df.sort_values ('min_kp', ascending = True)

#Report the files to check
print (list_suspicious_drops)

#Report the number of files for each number of drops 
df_num_drops = df[['num_drops', 'file_name']].groupby ('num_drops').count ()
df_num_drops

[]

           file_name
num_drops
2.0              236

### Group the data in a table that will be used to get the guid for each group and to name the final files later

In [7]:
#Group the data and get the min and max kps as well as the lane type
df_grouped = df.groupby (['road_no', 'dir_cd', 'num_drops']).agg ({'min_kp':'min', 'max_kp':'max', 'lane_no':'max'}).reset_index ()
df_grouped
# df_2136 = df_grouped [df_grouped['road_no']==2136]
df_9051 = df_grouped [df_grouped['road_no']==9051]

In [9]:
df_9051

     road_no dir_cd  num_drops min_kp max_kp  lane_no
114     9051      M        2.0      0     13        2
115     9051      R        2.0      0     13        2

In [11]:
df_get_guid = df
survey_combined = {}
df_surveys = df_9051
for index in df_surveys.index:
    # print (f"{road_no}-{dir_cd}-{lane_no}-{min_kp}-{max_kp}")  ##############################
    road_no = df_surveys.loc [index, 'road_no']
    dir_cd = df_surveys.loc [index, 'dir_cd']
    lane_no = df_surveys.loc [index, 'lane_no']
    min_kp = df_surveys.loc [index, 'min_kp']
    max_kp = df_surveys.loc [index, 'max_kp']
    no_drops = df_surveys.loc [index, 'num_drops']
    # print (no_drops) ##############################
    #Create a filename
    if dir_cd == 'M':
        file_name = f"H{road_no}-{dir_cd}-L{lane_no}-{min_kp}-{max_kp}"
    else:
        file_name = f"H{road_no}-{dir_cd}-L{lane_no}-{max_kp}-{min_kp}"
    
    #Get a list of guid, to be retrieved from drops and stations
    guid_list = df_get_guid[(df_get_guid['road_no']==road_no) & (df_get_guid['dir_cd']==dir_cd) & (df_get_guid['num_drops']==no_drops) ]['guid'].tolist()
    
    list_for_sta = []
    list_for_drops = []
    list_for_sessions = []
    
    #Reverse the list of the guid in case of Reverse surveys
    if dir_cd == 'R':
       guid_list.reverse ()

    for guid in guid_list:
        #Get the dataframe according to the guid
        df_part_sta= df_stations[df_stations['GUID']==guid].sort_values (by = 'StationID')
        df_part_drop= df_drops[df_drops['GUID']==guid].sort_values (by = 'DropID')
        df_part_session = df_sessions [ df_sessions ['GUID'] == guid]
        #Append it to the list 
        list_for_sta.append(df_part_sta)
        list_for_drops.append(df_part_drop)
        list_for_sessions.append (df_part_session)

    #Concat the list 
    df_sta_comb = pd.concat (list_for_sta)
    df_drops_comb = pd.concat (list_for_drops)
    df_sessions_comb = pd.concat (list_for_sessions)
    
    #Create the sequences of the drops and stations and sessions
    #1. For the df_drops_comb
    drop_seq = np.arange (1, len(df_drops_comb)+1)
    df_drops_comb['DropID'] = drop_seq
    station_seq = np.repeat (np.arange (1, int((len(df_drops_comb)/no_drops)+1)), no_drops)
    df_drops_comb['StationID'] = station_seq

    #2. For the df_sta_comb
    station_seq_2 = np.arange (1, int((len(df_drops_comb)/no_drops)+1))
    df_sta_comb ['StationID'] = station_seq_2
    df_sta_comb ['SessionID'] = 1

    #3. For the df_sessions_new
    df_sessions_new = df_sessions_comb.iloc[[0]]
    df_sessions_new.loc[:, 'SessionID'] = 1

    #Drop the GUID column from drops and stations table
    df_drops_comb.drop (columns = ['GUID'], inplace = True)
    df_sta_comb.drop (columns = ['GUID'], inplace = True)

    survey_combined [file_name] = {"Sessions": df_sessions_new,
                                   "Stations":df_sta_comb,
                                   "Drops": df_drops_comb}

In [144]:
# df = survey_combined['H66-M-L2-13-693']['Stations']

In [145]:
# df[df['Latitude']== 24.86736079200095].values

# Upload data to the EMPTY ACCESS FILE

In [13]:
#Enter folder location of empty database:
mdb_file_path = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\Empty_Data_Base.mdb"
location_save_mdb = r"C:\Users\Khaled Ahmed\Desktop\fwd_analysis_ASH\004_Analysis_ASH"


for file, table in survey_combined.items():
    file_name = file + '.mdb'
    file_new_path = os.path.join (location_save_mdb, file_name)
    shutil.copy (mdb_file_path, file_new_path)
    
    #Connect to the Microsoft Access Database
    conn_str = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'r'DBQ='+file_new_path+';'
                                  
    # Connect to the Access database
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    
    # Define the Access table name
    for access_table, df in survey_combined [file].items ():
        df= df.reset_index (drop = True)
    
        # Create insert query template with column names enclosed in square brackets
        columns = ", ".join([f"[{col}]" for col in df.columns])
        placeholders = ", ".join(["?" for _ in df.columns])
        insert_query = f"INSERT INTO {access_table} ({columns}) VALUES ({placeholders})"
        
        # Print insert query for debugging
        print("Insert Query:", insert_query)
        
        # Insert DataFrame into Access table
        for index, row in df.iterrows():
            print("Row:", tuple(row))  # Print the row for debugging
            cursor.execute(insert_query, tuple(row))
        
        # Commit the transaction
        conn.commit()
        
    # Close the connection
    cursor.close()
    conn.close()

Insert Query: INSERT INTO Sessions ([SessionID], [GUID], [Program], [Operator], [Driver], [Trailer], [Electronics], [TestSetup], [Units], [Date], [FacilityName], [FacilityCode], [FacilityDirection], [FacilityType], [FacilityLanes], [SectionName], [SectionCode], [SectionDirection], [District], [Class], [Start], [End], [Lane], [LaneNumber], [Traffic], [Smoothing], [StationMin], [StationMax], [Radius], [X1], [X2], [X3], [X4], [X5], [X6], [X7], [X8], [X9], [X10], [X11], [X12], [X13], [X14], [X15], [Y1], [Y2], [Y3], [Y4], [Y5], [Y6], [Y7], [Y8], [Y9], [Y10], [Y11], [Y12], [Y13], [Y14], [Y15]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, '7CCCBB3BBFE14D688235B004868022C', '2.9.3', '', '', '8012-058', 'CP15-959', 'MOT TEST 50KN 4 Drops Standard', 'Metric', Timestamp('2024-01-16 11:00:54'), 'MOT', '', 0, '', 0, 'EIN HAWAS ROAD', '', 0, '', '', '0', '13', '', '', 0.0, True, 0.10000000149011612, 13.0, 150.0, 0.0, 200.0, 300.0, 450.0, 600.0, 900.0, 1200.0, 1500.0, 1800.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Insert Query: INSERT INTO Stations ([SessionID], [StationID], [Station], [StationUnit], [StationDirection], [Lane], [LaneNumber], [Heading], [PavementType], [SlabID], [SlabPosition], [SlabPositionCode], [AsphaltTemperature], [SurfaceTemperature], [AirTemperature], [Cracks], [Time], [GPSStatus], [Satellites], [UTC], [Latitude], [Longitude], [Height], [Comment]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, 1, 0.10000000149011612, 0, -1, '', '', '', '', '', '', 0.0, 13.0, 15.0600004196167, 13.100000381469727, 0, Timestamp('2024-01-16 10:38:39'), 2, 9, 71403.5, 31.3741532437907, 37.5817883880729, 515.2589111328125, '')
Row: (1, 2, 1.0, 0, 1, '', '', '', '', '', '', 0.0, 13.0, 17.549999237060547, 13.350000381469727, 0, Timestamp('2024-01-16 10:40:34'), 2, 9, 71558.5, 31.36566469078448, 37.579793528988134, 515.2698364257812, '')
Row: (1, 3, 2.0, 0, 1, '', '', '', '', '', '', 0.0, 13.0, 16.610000610351562, 13.619999885559082, 0, Timestamp('2024-01-16 10:42:12'), 2, 9, 71737.9, 31.356554404498564, 37.57854815132873, 503.5403137207031, '')
Row: (1, 4, 3.0, 0, 1, '', '', '', '', '', '', 0.0, 13.0, 16.690000534057617, 13.760000228881836, 0, Timestamp('2024-01-16 10:43:54'), 2, 9, 71919.2, 31.348103326772577, 37.57583511670487, 505.20001220703125, '')
Row: (1, 5, 4.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.899999618530273, 13.579999923706055, 0, Timestamp('2024-01-16 10:45:24'), 2, 9, 72050.2, 31.34099796579803, 37.57019036376599, 503.1905212402344, '')
Row: (1, 6, 5.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.8700008392334, 13.960000038146973, 0, Timestamp('2024-01-16 10:47:09'), 2, 9, 72234.5, 31.333277462444098, 37.5639277989932, 498.7601318359375, '')
Row: (1, 7, 6.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.649999618530273, 13.630000114440918, 0, Timestamp('2024-01-16 10:48:46'), 2, 9, 72413.0, 31.326469594856118, 37.558409470605156, 498.0703125, '')
Row: (1, 8, 7.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.56999969482422, 13.899999618530273, 0, Timestamp('2024-01-16 10:50:18'), 2, 9, 72542.5, 31.319517189139685, 37.552806270045956, 497.94012451171875, '')
Row: (1, 9, 8.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.639999389648438, 13.789999961853027, 0, Timestamp('2024-01-16 10:51:53'), 2, 9, 72717.5, 31.311179900307557, 37.54701570178781, 497.3702392578125, '')
Row: (1, 10, 9.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 18.059999465942383, 14.0600004196167, 0, Timestamp('2024-01-16 10:53:59'), 2, 9, 72926.1, 31.3034555744305, 37.54226513642777, 498.5501403808594, '')
Row: (1, 11, 10.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 16.739999771118164, 13.869999885559082, 0, Timestamp('2024-01-16 10:55:46'), 2, 9, 73112.1, 31.294787471861675, 37.54068258865626, 499.2892150878906, '')
Row: (1, 12, 11.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.299999237060547, 14.020000457763672, 0, Timestamp('2024-01-16 10:57:18'), 2, 9, 73244.0, 31.286198349924284, 37.53923243052541, 499.5213317871094, '')
Row: (1, 13, 12.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 17.219999313354492, 14.010000228881836, 0, Timestamp('2024-01-16 10:59:00'), 2, 9, 73425.6, 31.275835981214446, 37.537996689266805, 506.1294860839844, '')
Row: (1, 14, 13.0, 0, 1, '', '', '', '', '', '', 0.0, 15.0, 18.729999542236328, 14.420000076293945, 0, Timestamp('2024-01-16 11:00:39'), 2, 9, 73609.4, 31.266676231444848, 37.536908436654265, 503.0709228515625, '')
Insert Query: INSERT INTO Drops ([StationID], [DropID], [History], [DateTime], [Asphalt], [Surface], [Air], [Stress], [Force], [D1], [D2], [D3], [D4], [D5], [D6], [D7], [D8], [D9], [D10], [D11], [D12], [D13], [D14], [D15]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, 1, True, Timestamp('2024-01-16 10:38:30'), 13.0, 15.300000190734863, 13.0, 575.0, 40.66999816894531, 137.8000030517578, 113.5999984741211, 94.5, 71.80000305175781, 53.5, 35.29999923706055, 22.100000381469727, 17.799999237060547, 15.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (1, 2, True, Timestamp('2024-01-16 10:38:31'), 13.0, 15.300000190734863, 13.0, 737.0, 52.099998474121094, 181.39999389648438, 148.5, 124.69999694824219, 97.0999984741211, 71.9000015258789, 44.400001525878906, 29.200000762939453, 22.700000762939453, 20.600000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 3, True, Timestamp('2024-01-16 10:40:27'), 13.0, 17.799999237060547, 13.699999809265137, 584.0, 41.27000045776367, 111.5, 88.19999694824219, 74.69999694824219, 56.79999923706055, 41.599998474121094, 23.5, 11.899999618530273, 10.600000381469727, 12.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 4, True, Timestamp('2024-01-16 10:40:29'), 13.0, 17.799999237060547, 13.699999809265137, 744.0, 52.58000183105469, 136.60000610351562, 113.4000015258789, 96.5999984741211, 72.80000305175781, 53.70000076293945, 31.600000381469727, 17.200000762939453, 11.5, 9.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (3, 5, True, Timestamp('2024-01-16 10:42:05'), 13.0, 16.899999618530273, 13.899999618530273, 574.0, 40.56999969482422, 160.1999969482422, 132.8000030517578, 113.5999984741211, 87.69999694824219, 65.30000305175781, 40.20000076293945, 23.600000381469727, 16.799999237060547, 15.100000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (3, 6, True, Timestamp('2024-01-16 10:42:06'), 13.0, 16.899999618530273, 13.800000190734863, 736.0, 52.0099983215332, 209.60000610351562, 174.10000610351562, 149.60000610351562, 116.4000015258789, 87.80000305175781, 52.900001525878906, 31.0, 22.299999237060547, 18.299999237060547, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (4, 7, True, Timestamp('2024-01-16 10:43:47'), 13.0, 16.700000762939453, 14.199999809265137, 574.0, 40.560001373291016, 133.6999969482422, 105.5, 87.0999984741211, 65.19999694824219, 47.29999923706055, 27.5, 14.300000190734863, 10.399999618530273, 9.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (4, 8, True, Timestamp('2024-01-16 10:43:48'), 13.0, 16.700000762939453, 14.199999809265137, 733.0, 51.79999923706055, 173.3000030517578, 137.6999969482422, 115.69999694824219, 86.69999694824219, 62.400001525878906, 36.599998474121094, 21.799999237060547, 14.5, 13.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (5, 9, True, Timestamp('2024-01-16 10:45:17'), 13.0, 17.899999618530273, 14.199999809265137, 575.0, 40.66999816894531, 123.0999984741211, 98.0, 80.5, 59.79999923706055, 41.0, 23.0, 12.0, 9.800000190734863, 7.900000095367432, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (5, 10, True, Timestamp('2024-01-16 10:45:19'), 13.0, 17.899999618530273, 14.100000381469727, 741.0, 52.36000061035156, 158.39999389648438, 125.9000015258789, 104.80000305175781, 77.80000305175781, 53.900001525878906, 30.0, 15.800000190734863, 13.600000381469727, 11.800000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (6, 11, True, Timestamp('2024-01-16 10:47:02'), 15.0, 17.899999618530273, 14.600000381469727, 577.0, 40.810001373291016, 152.5, 123.5, 106.5, 83.19999694824219, 62.099998474121094, 37.0, 20.0, 12.899999618530273, 9.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (6, 12, True, Timestamp('2024-01-16 10:47:04'), 15.0, 17.899999618530273, 14.600000381469727, 740.0, 52.27000045776367, 189.60000610351562, 162.3000030517578, 140.89999389648438, 110.4000015258789, 83.30000305175781, 49.29999923706055, 26.5, 16.899999618530273, 11.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (7, 13, True, Timestamp('2024-01-16 10:48:38'), 15.0, 17.700000762939453, 14.399999618530273, 577.0, 40.810001373291016, 150.39999389648438, 127.30000305175781, 112.0, 90.69999694824219, 72.5999984741211, 49.400001525878906, 33.099998474121094, 24.799999237060547, 19.700000762939453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (7, 14, True, Timestamp('2024-01-16 10:48:39'), 15.0, 17.700000762939453, 14.300000190734863, 737.0, 52.119998931884766, 195.39999389648438, 166.6999969482422, 146.1999969482422, 119.19999694824219, 95.4000015258789, 64.4000015258789, 43.20000076293945, 31.700000762939453, 25.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (8, 15, True, Timestamp('2024-01-16 10:50:10'), 15.0, 17.600000381469727, 14.399999618530273, 573.0, 40.470001220703125, 210.5, 178.89999389648438, 156.0, 124.19999694824219, 96.69999694824219, 61.20000076293945, 35.900001525878906, 23.200000762939453, 20.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (8, 16, True, Timestamp('2024-01-16 10:50:11'), 15.0, 17.600000381469727, 14.300000190734863, 734.0, 51.880001068115234, 275.29998779296875, 235.3000030517578, 205.39999389648438, 164.8000030517578, 128.3000030517578, 81.4000015258789, 47.79999923706055, 32.29999923706055, 23.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (9, 17, True, Timestamp('2024-01-16 10:51:45'), 15.0, 17.600000381469727, 14.199999809265137, 574.0, 40.56999969482422, 139.39999389648438, 117.69999694824219, 103.80000305175781, 84.0999984741211, 67.9000015258789, 48.400001525878906, 33.0, 25.200000762939453, 21.100000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (9, 18, True, Timestamp('2024-01-16 10:51:46'), 15.0, 17.600000381469727, 14.199999809265137, 733.0, 51.83000183105469, 183.0, 154.3000030517578, 135.39999389648438, 111.4000015258789, 90.30000305175781, 63.70000076293945, 43.29999923706055, 31.700000762939453, 29.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (10, 19, True, Timestamp('2024-01-16 10:53:53'), 15.0, 18.299999237060547, 14.300000190734863, 581.0, 41.029998779296875, 98.4000015258789, 89.0999984741211, 76.0999984741211, 61.29999923706055, 49.20000076293945, 34.599998474121094, 22.200000762939453, 16.200000762939453, 13.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (10, 20, True, Timestamp('2024-01-16 10:53:55'), 15.0, 18.299999237060547, 14.300000190734863, 744.0, 52.54999923706055, 131.0, 115.80000305175781, 99.5999984741211, 80.69999694824219, 65.5, 45.400001525878906, 29.899999618530273, 22.399999618530273, 18.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (11, 21, True, Timestamp('2024-01-16 10:55:40'), 15.0, 17.0, 14.5, 577.0, 40.77000045776367, 146.39999389648438, 130.1999969482422, 117.69999694824219, 101.9000015258789, 85.9000015258789, 62.599998474121094, 43.79999923706055, 34.0, 26.899999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (11, 22, True, Timestamp('2024-01-16 10:55:41'), 15.0, 17.0, 14.5, 734.0, 51.900001525878906, 190.3000030517578, 167.1999969482422, 153.0, 131.3000030517578, 110.5, 81.5, 56.400001525878906, 42.29999923706055, 33.70000076293945, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (12, 23, True, Timestamp('2024-01-16 10:57:12'), 15.0, 17.5, 14.399999618530273, 573.0, 40.5, 181.39999389648438, 154.39999389648438, 135.6999969482422, 112.5, 91.0999984741211, 65.80000305175781, 46.70000076293945, 37.0, 32.20000076293945, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (12, 24, True, Timestamp('2024-01-16 10:57:13'), 15.0, 17.5, 14.399999618530273, 731.0, 51.66999816894531, 233.8000030517578, 199.60000610351562, 176.3000030517578, 145.0, 118.0999984741211, 84.5, 60.20000076293945, 47.20000076293945, 41.20000076293945, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (13, 25, True, Timestamp('2024-01-16 10:58:53'), 15.0, 17.399999618530273, 14.5, 577.0, 40.790000915527344, 77.4000015258789, 61.099998474121094, 51.900001525878906, 43.0, 33.79999923706055, 21.700000762939453, 14.300000190734863, 10.5, 9.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (13, 26, True, Timestamp('2024-01-16 10:58:54'), 15.0, 17.399999618530273, 14.5, 737.0, 52.08000183105469, 88.4000015258789, 78.30000305175781, 67.4000015258789, 56.099998474121094, 43.79999923706055, 28.5, 18.600000381469727, 13.5, 11.800000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (14, 27, True, Timestamp('2024-01-16 11:00:32'), 15.0, 19.0, 14.899999618530273, 575.0, 40.66999816894531, 202.89999389648438, 159.89999389648438, 133.3000030517578, 101.30000305175781, 75.69999694824219, 49.099998474121094, 32.20000076293945, 24.600000381469727, 19.799999237060547, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (14, 28, True, Timestamp('2024-01-16 11:00:33'), 15.0, 19.0, 14.899999618530273, 737.0, 52.099998474121094, 257.8999938964844, 204.5, 171.0, 129.3000030517578, 97.80000305175781, 63.29999923706055, 41.599998474121094, 31.399999618530273, 25.700000762939453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Insert Query: INSERT INTO Sessions ([SessionID], [GUID], [Program], [Operator], [Driver], [Trailer], [Electronics], [TestSetup], [Units], [Date], [FacilityName], [FacilityCode], [FacilityDirection], [FacilityType], [FacilityLanes], [SectionName], [SectionCode], [SectionDirection], [District], [Class], [Start], [End], [Lane], [LaneNumber], [Traffic], [Smoothing], [StationMin], [StationMax], [Radius], [X1], [X2], [X3], [X4], [X5], [X6], [X7], [X8], [X9], [X10], [X11], [X12], [X13], [X14], [X15], [Y1], [Y2], [Y3], [Y4], [Y5], [Y6], [Y7], [Y8], [Y9], [Y10], [Y11], [Y12], [Y13], [Y14], [Y15]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, '84000CECF98E4CEC88201E31FE9359EE', '2.9.3', '', '', '8012-058', 'CP15-959', 'MOT TEST 50KN 4 Drops Standard', 'Metric', Timestamp('2024-01-16 10:37:03'), 'MOT', '', 0, '', 0, 'EIN HAWAS ROAD', '', 0, '', '', '13', '0', '', '', 0.0, True, 0.10000000149011612, 13.0, 150.0, 0.0, 200.0, 300.0, 450.0, 600.0, 900.0, 1200.0, 1500.0, 1800.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Insert Query: INSERT INTO Stations ([SessionID], [StationID], [Station], [StationUnit], [StationDirection], [Lane], [LaneNumber], [Heading], [PavementType], [SlabID], [SlabPosition], [SlabPositionCode], [AsphaltTemperature], [SurfaceTemperature], [AirTemperature], [Cracks], [Time], [GPSStatus], [Satellites], [UTC], [Latitude], [Longitude], [Height], [Comment]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, 1, 13.0, 0, 1, '', '', '', '', '', '', 0.0, 8.0, 10.289999961853027, 9.550000190734863, 0, Timestamp('2024-01-16 10:12:39'), 1, 9, 64804.6, 31.265148843984164, 37.536815812012115, 504.4300537109375, '')
Row: (1, 2, 12.0, 0, 1, '', '', '', '', '', '', 0.0, 8.0, 14.210000038146973, 11.34000015258789, 0, Timestamp('2024-01-16 10:14:38'), 2, 8, 64955.4, 31.27416410998839, 37.53806634332577, 511.31353759765625, '')
Row: (1, 3, 11.0, 0, 1, '', '', '', '', '', '', 0.0, 8.0, 14.329999923706055, 11.529999732971191, 0, Timestamp('2024-01-16 10:16:15'), 2, 8, 65138.1, 31.28259408357172, 37.539075358078726, 499.52880859375, '')
Row: (1, 4, 10.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 14.15999984741211, 11.510000228881836, 0, Timestamp('2024-01-16 10:18:04'), 2, 8, 65327.4, 31.29173223084956, 37.540445512140785, 498.98077392578125, '')
Row: (1, 5, 9.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 14.869999885559082, 11.800000190734863, 0, Timestamp('2024-01-16 10:19:44'), 2, 8, 65510.9, 31.300079708317234, 37.541876306587355, 498.71014404296875, '')
Row: (1, 6, 8.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 14.949999809265137, 11.899999618530273, 0, Timestamp('2024-01-16 10:21:21'), 2, 8, 65647.0, 31.308124788431815, 37.54532509758653, 497.3900146484375, '')
Row: (1, 7, 7.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 15.0600004196167, 11.170000076293945, 0, Timestamp('2024-01-16 10:23:29'), 2, 9, 65845.0, 31.316294232473894, 37.55076208432736, 497.8399963378906, '')
Row: (1, 8, 6.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 14.8100004196167, 12.039999961853027, 0, Timestamp('2024-01-16 10:25:29'), 2, 9, 70055.4, 31.32354279550236, 37.556380034822446, 497.91796875, '')
Row: (1, 9, 5.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 15.680000305175781, 12.420000076293945, 0, Timestamp('2024-01-16 10:27:05'), 2, 9, 70231.8, 31.330498796285188, 37.562019473995186, 498.4498596191406, '')
Row: (1, 10, 4.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 16.15999984741211, 12.220000267028809, 0, Timestamp('2024-01-16 10:28:40'), 2, 9, 70406.2, 31.33769004425991, 37.56784939799589, 498.87841796875, '')
Row: (1, 11, 3.0, 0, -1, '', '', '', '', '', '', 0.0, 8.0, 16.020000457763672, 12.510000228881836, 0, Timestamp('2024-01-16 10:30:34'), 2, 9, 70601.9, 31.345403701419368, 37.57411120273141, 506.2409362792969, '')
Row: (1, 12, 2.0, 0, -1, '', '', '', '', '', '', 0.0, 13.0, 15.270000457763672, 12.449999809265137, 0, Timestamp('2024-01-16 10:32:27'), 2, 9, 70752.8, 31.35259451089098, 37.57817425001301, 503.46014404296875, '')
Row: (1, 13, 1.0, 0, -1, '', '', '', '', '', '', 0.0, 13.0, 17.209999084472656, 13.460000038146973, 0, Timestamp('2024-01-16 10:34:03'), 2, 9, 70929.0, 31.361557737519785, 37.57946672499529, 506.5502624511719, '')
Row: (1, 14, 0.10000000149011612, 0, -1, '', '', '', '', '', '', 0.0, 13.0, 16.700000762939453, 13.960000038146973, 0, Timestamp('2024-01-16 10:36:09'), 2, 8, 71137.8, 31.37385331238069, 37.5820326653148, 514.8512573242188, '')
Insert Query: INSERT INTO Drops ([StationID], [DropID], [History], [DateTime], [Asphalt], [Surface], [Air], [Stress], [Force], [D1], [D2], [D3], [D4], [D5], [D6], [D7], [D8], [D9], [D10], [D11], [D12], [D13], [D14], [D15]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
Row: (1, 1, True, Timestamp('2024-01-16 10:12:32'), 5.866600155804606, 10.300000190734863, 9.699999809265137, 583.0, 41.22999954223633, 105.69999694824219, 73.5, 59.79999923706055, 42.5, 32.70000076293945, 21.700000762939453, 18.200000762939453, 18.899999618530273, 14.199999809265137, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (1, 2, True, Timestamp('2024-01-16 10:12:34'), 5.866600155804606, 10.300000190734863, 9.600000381469727, 742.0, 52.43000030517578, 130.3000030517578, 93.19999694824219, 73.0999984741211, 51.900001525878906, 38.900001525878906, 32.400001525878906, 26.700000762939453, 20.100000381469727, 18.200000762939453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 3, True, Timestamp('2024-01-16 10:14:23'), 8.0, 14.199999809265137, 12.699999809265137, 579.0, 40.93000030517578, 68.0, 59.20000076293945, 54.400001525878906, 47.099998474121094, 37.0, 28.799999237060547, 18.899999618530273, 13.800000190734863, 11.300000190734863, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (2, 4, True, Timestamp('2024-01-16 10:14:24'), 8.0, 14.199999809265137, 12.699999809265137, 741.0, 52.34000015258789, 89.4000015258789, 77.5999984741211, 70.0, 58.29999923706055, 48.099998474121094, 33.20000076293945, 20.899999618530273, 12.5, 11.399999618530273, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)
Row: (3, 5, True, Timestamp('2024-01-16 10:16:04'), 8.0, 14.300000190734863, 12.199999809265137, 578.0, 40.86000061035156, 122.4000015258789, 100.80000305175781, 87.5999984741211, 70.0999984741211, 56.099998474121094, 43.29999923706055, 31.100000381469727, 25.600000381469727, 18.600000381469727, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)

In [18]:
cursor.close()
conn.close()

ProgrammingError: Attempt to use a closed cursor.