In [11]:
import pandas as pd

In [13]:
data = pd.read_csv (r"C:\Users\Khaled Ahmed\Desktop\fwd_data_ASH.csv")

In [15]:
data.columns

Index(['full_file_name', 'file_name', 'batch', 'survey_type', 'GIS_OBJECT',
       'TYPE_CD', 'ROAD', 'DIRECTION', 'LANE_NO', 'FROM_KP', 'TO_KP',
       'chainage', 'point_no', 'drop_no', 'stress', 'LOAD', 'D1', 'D2', 'D3',
       'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'temp_ac', 'temp_air', 'temp_surf',
       'survey_date', 'latitude', 'longitude', 'height', 'H1', 'H2', 'H3',
       'H4', 'GPR_H1', 'GPR_H2', 'GPR_H3', 'GPR_H4', 'GPR_H5', 'GPR_Total',
       'METHOD', 'Temperature', 'D1_CORR_1', ' D1_CORR_2', ' D1_CORR',
       ' D1_CHECK', ' RMS_CHECK', 'E1', 'e1_ref', 'E2', 'E3', 'E4', 'E5',
       'RMS'],
      dtype='object')

In [33]:
import numpy as np
alpha = 0.0126843202700387
ref_temp = 20
for index in data.index:
    data.loc [index, 'D1_CORR_1'] = data.loc [index, 'D1'] * np.exp (alpha * (ref_temp  - data.loc [index, 'Temperature']))
    data.loc [index, 'D1_CORR_2'] = (0.9834*data.loc [index, 'D1_CORR_1'])-0.7718
    data.loc [index, 'D1_CORR'] = data.loc [index, ['D1_CORR_1','D1_CORR_2']].mean()

In [36]:
data.to_csv (r"C:\Users\Khaled Ahmed\Desktop\fwd_data_ASH_1.csv")

# DRAFT

In [25]:
data2 = pd.read_csv (r"C:\Users\Khaled Ahmed\Desktop\fwd_data_part_a.csv")

In [27]:
data2.columns

Index(['file_name_general', 'file_name', 'batch_no', 'survey_type',
       'gis_object', 'type_cd', 'road_no', 'dir_cd', 'lane_position',
       'start_kp', 'end_kp', 'site_chainage', 'pointno', 'dropno',
       'stress_value', 'load_value', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7',
       'd8', 'd9', 'temp_ac', 'temp_air', 'temp_surf', 'date_survey',
       'latitude', 'longitude', 'height', 'h1', 'h2', 'h3', 'h4', 'gpr_h1',
       'gpr_h2', 'gpr_h3', 'gpr_h4', 'gpr_h5', 'gpr_total', 'method_used',
       'd1_corr1', 'd1_corr2', 'd1_corr', 'd1_check', 'rms_check', 'e1',
       'e1_ref', 'e2', 'e3', 'e4', 'e5', 'rms_value', 'part_no'],
      dtype='object')

In [29]:
import numpy as np
alpha = 0.0126843202700387
ref_temp = 20
data2['trial']= None
for index in data2.index:
    data2.at [index, 'trial'] = data2.loc [index, 'd1'] * np.exp (alpha * (ref_temp  - data2.loc [index, 'temp_ac']))

In [31]:
data2 [['d1_corr1', 'trial']]

       d1_corr1       trial
0           210  213.149982
1           171  173.395819
2           349  353.558304
3           239  242.754146
4           471  477.895794
...         ...         ...
19966       309  313.515944
19967       120  121.069558
19968       408  412.901402
19969       238  241.235611
19970       642  650.352712

[19971 rows x 2 columns]